.banner-modal
    .banner-modal__inner
        .banner-modal__close +
        .banner-modal__descr
            h3.banner-modal__title Профессиональный покос травы в Подмосковье
            p.banner-modal__text.
                Если в вашем ведении большая территория земли, то в осенне-летний период на ней надо регулярно косить траву. Не важно, представляете вы организацию или выступаете как частный землевладелец. Мы будем рады предложить постоянное обслуживание участка. Скашивание травы производится 1-2 раза в месяц, в зависимости от её скорости роста и требований заказчика. Работаем за наличный и безналичный расчет.
            p.banner-modal__text.
                Вы приобрели новый участок и первым делом решили окосить его? Мы предлагаем скос травы и расчистку территории под строительство. Даже если вы не планируете застраивать участок в ближайшее время, от бурьяна лучше избавиться. Ведь сухостой может стать причиной пожара!
            p.banner-modal__text.
                Компания * производит профессиональный покос травы и кустарников любой высоты в Подмосковье.
            .banner-modal__imgs
                img.banner-modal__img(src="./assets/img/content/pokos1.webp")
                img.banner-modal__img(src="./assets/img/content/pokos2.webp")
                img.banner-modal__img(src="./assets/img/content/pokos3.webp")
        .banner-modal__prices
            h3.banner-modal__title Сколько стоит скосить траву
            p.banner-modal__text.
                Цена работ за сотку или квадратный метр зависит от способа и площади окашиваемого участка. Выгоднее
                заказывать услугу в комплексе с удалением старых деревьев, вспашкой земли и вывозом образовавшегося
                мусора. При подписании договора на регулярное обслуживание предоставляется скидка, а значит, цена покоса
                будет ещё меньше. Ориентировочные расценки приведены в таблице ниже.

            table(border="1")
                tr
                    th Вид работ
                    th Единицы изменения
                    th Цена, рублей
                tr
                    td Покос травы или сухого бурьяна
                    td кв.м.
                    td 15
                tr
                    td Стрижка газона колесной газонокосилкой
                    td кв.м.
                    td 20
                tr
                    td Покос травы трактором (на площадях от 1 Га)
                    td кв.м.
                    td 3
                tr
                    td Сбор травы граблями (если требуется)
                    td кв.м.
                    td 5
                tr
                    td Погрузка и вывоз скошенной травы контейнером объемом (за штуку)
                    td шт.
                    td 12,500
                tr
                    td Погрузка и вывоз скошенной травы контейнером объемом 27 куб. м. (за штуку)
                    td шт.
                    td 35.500
