mixin section_title (name, margin)
     if margin
        .section-title.--margin-bottom
            h3.section-title__name= name
     else
        .section-title
            h3.section-title__name= name
