doctype html
html(lang="ru")
    block vars
    block head
        head
            meta(charset="utf-8")
            title= pageTitle
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;700&family=Oswald:wght@700&family=Prompt:wght@400;700&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="style.min.css")
    body
      block content
      block scripts
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='assets/js/main.min.js')
