section.banner(style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner-bg.webp')")
    .banner__descr
        h1.banner__title
            | Профессиональный Покос травы в Москве
        p.banner__subtitle
            | Москве и в 60 км от города
        button.banner__info(data-banner_modal) i
