.discount
    .discount__header
        h3.discount__title Акция
        .discount__arrows
    .discount__inner
        .discount__sample
            .discount__slickwrapp
                .discount__card
                    .discount__img-wrap
                        img.discount__img(src="./assets/img/content/discount.webp" alt="")
                    .discount__content
                        h5.discount__content-title ПОЛУЧИТЬ СКИДКУ НА ОБЩИЙ ОБЬЕМ1
                        .discount__content-items
                            .discount__content-items-img.--svg__discount
                            ul.discount__items
                                li.discount__item
                                    span СКИДКА НА ОБЬЕМ
                                li.discount__item Свыше 20 соток - 3%
                                li.discount__item Свыше 50 соток - 5%
                                li.discount__item Свыше 1 Га  - 10%
                        a.discount__btn(href="*") Получить расчет
            .discount__slickwrapp
                .discount__card
                    .discount__img-wrap
                        img.discount__img(src="./assets/img/content/discount.webp" alt="")
                    .discount__content
                        h5.discount__content-title ПОЛУЧИТЬ СКИДКУ НА ОБЩИЙ ОБЬЕМ2
                        .discount__content-items
                            .discount__content-items-img.--svg__discount
                            ul.discount__items
                                li.discount__item
                                    span СКИДКА НА ОБЬЕМ
                                li.discount__item Свыше 20 соток - 3%
                                li.discount__item Свыше 50 соток - 5%
                                li.discount__item Свыше 1 Га  - 10%
                        a.discount__btn(href="*") Получить расчет
            .discount__slickwrapp
                .discount__card
                    .discount__img-wrap
                        img.discount__img(src="./assets/img/content/discount.webp" alt="")
                    .discount__content
                        h5.discount__content-title ПОЛУЧИТЬ СКИДКУ НА ОБЩИЙ ОБЬЕМ3
                        .discount__content-items
                            .discount__content-items-img.--svg__discount
                            ul.discount__items
                                li.discount__item
                                    span СКИДКА НА ОБЬЕМ
                                li.discount__item Свыше 20 соток - 3%
                                li.discount__item Свыше 50 соток - 5%
                                li.discount__item Свыше 1 Га  - 10%
                        a.discount__btn(href="*") Получить расчет
            .discount__slickwrapp
                .discount__card
                    .discount__img-wrap
                        img.discount__img(src="./assets/img/content/discount.webp" alt="")
                    .discount__content
                        h5.discount__content-title ПОЛУЧИТЬ СКИДКУ НА ОБЩИЙ ОБЬЕМ4
                        .discount__content-items
                            .discount__content-items-img.--svg__discount
                            ul.discount__items
                                li.discount__item
                                    span СКИДКА НА ОБЬЕМ
                                li.discount__item Свыше 20 соток - 3%
                                li.discount__item Свыше 50 соток - 5%
                                li.discount__item Свыше 1 Га  - 10%
                        a.discount__btn(href="*") Получить расчет
