include ../mixins/section-title

.jobs
    +section_title("Наши работы", true)
    .jobs__arrows
    .jobs__sample
        .jobs-slickwrapper
            .jobs__card
                .jobs__pict
                    .jobs__img
                        img.jobs__bigimg(src="./assets/img/content/jobs-big.webp" alt="")
                    .jobs__imgs(style="transform: none !important")
                        img.jobs__imgs-item.active(src="./assets/img/content/jobs1.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs2.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs3.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs4.webp" alt="")
                .jobs__content
                    h5.jobs__content-title Покос травы в Петрово
                    ul.jobs__content-lists
                        li.jobs__content-item Высота травы: до 20 см
                        li.jobs__content-item Размер участка: 15 соток
                        li.jobs__content-item Время работы: 8 часов
                        li.jobs__content-item Уборка: без уборки
                        li.jobs__content-item Отдаленность от города: 20 км
                    .jobs__price
                        | Стоимость работ:
                        span.jobs__price-number 2500 руб
                    button.jobs__btn Заказать покос
        .jobs-slickwrapper
            .jobs__card
                .jobs__pict
                    .jobs__img
                        img.jobs__bigimg(src="./assets/img/content/jobs-big.webp" alt="")
                    .jobs__imgs(style="transform: none !important")
                        img.jobs__imgs-item(src="./assets/img/content/jobs1.webp" alt="")
                        img.jobs__imgs-item.active(src="./assets/img/content/jobs2.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs3.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs4.webp" alt="")
                .jobs__content
                    h5.jobs__content-title Покос травы в Иваново
                    ul.jobs__content-lists
                        li.jobs__content-item Высота травы: до 20 см
                        li.jobs__content-item Размер участка: 15 соток
                        li.jobs__content-item Время работы: 8 часов
                        li.jobs__content-item Уборка: без уборки
                        li.jobs__content-item Отдаленность от города: 20 км
                    .jobs__price
                        | Стоимость работ:
                        span.jobs__price-number 2500 руб
                    button.jobs__btn Заказать покос
        .jobs-slickwrapper
            .jobs__card
                .jobs__pict
                    .jobs__img
                        img.jobs__bigimg(src="./assets/img/content/jobs-big.webp" alt="")
                    .jobs__imgs(style="transform: none !important")
                        img.jobs__imgs-item(src="./assets/img/content/jobs1.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs2.webp" alt="")
                        img.jobs__imgs-item.active(src="./assets/img/content/jobs3.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs4.webp" alt="")
                .jobs__content
                    h5.jobs__content-title Покос травы в Феофаново
                    ul.jobs__content-lists
                        li.jobs__content-item Высота травы: до 20 см
                        li.jobs__content-item Размер участка: 15 соток
                        li.jobs__content-item Время работы: 8 часов
                        li.jobs__content-item Уборка: без уборки
                        li.jobs__content-item Отдаленность от города: 20 км
                    .jobs__price
                        | Стоимость работ:
                        span.jobs__price-number 2500 руб
                    button.jobs__btn Заказать покос
        .jobs-slickwrapper
            .jobs__card
                .jobs__pict
                    .jobs__img
                        img.jobs__bigimg(src="./assets/img/content/jobs-big.webp" alt="")
                    .jobs__imgs(style="transform: none !important")
                        img.jobs__imgs-item(src="./assets/img/content/jobs1.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs2.webp" alt="")
                        img.jobs__imgs-item(src="./assets/img/content/jobs3.webp" alt="")
                        img.jobs__imgs-item.active(src="./assets/img/content/jobs4.webp" alt="")
                .jobs__content
                    h5.jobs__content-title Покос травы в Александрово
                    ul.jobs__content-lists
                        li.jobs__content-item Высота травы: до 20 см
                        li.jobs__content-item Размер участка: 15 соток
                        li.jobs__content-item Время работы: 8 часов
                        li.jobs__content-item Уборка: без уборки
                        li.jobs__content-item Отдаленность от города: 20 км
                    .jobs__price
                        | Стоимость работ:
                        span.jobs__price-number 2500 руб
                    button.jobs__btn Заказать покос
    a(href="/sample.html").jobs__show-all Посмотреть все работы
