.banner {
    width: 100%;
    margin-bottom: 39px;
    background-repeat: no-repeat;
    background-size: cover;

    &__descr {
        @include container;
        padding: 82px 15px 63px;
    }

    &__title {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
        color: var(--color-white);
        max-width: 467px;
    }

    &__subtitle {
        font-family: "Prompt", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white);
        margin-bottom: 20px;
    }

    &__info {
        background: var(--color-green1);
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: var(--color-white);
        cursor: pointer;
        transition: all ease 0.2s;
        outline: none;
        border: none;

        &:hover {
            background-color: var(--color-white);
            color: var(--color-green1);
        }
    }

    @include media-tablet {
        margin-bottom: 78px;

        &__descr {
            padding: 164px 15px 126px;
        }

        &__title {
            line-height: 64px;
            font-size: 42px;
        }
    }
}

.banner-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background: var(--color-white);
    overflow: auto;

    &__inner {
        position: relative;
        @include container;
        padding: 40px 0;
    }

    &__close {
        position: absolute;
        right: 0;
        top: -55px;
        font-size: 64px;
        transform: rotate(45deg);
        color: #c7c7c7;
        cursor: pointer;
    }

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 22px;
    }

    &__text {
        font-size: 16px;
        line-height: 172%;
        color: var(--color-gray1);
        margin-bottom: 20px;
    }

    &__imgs {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__img {
        max-width: 390px;
        padding: 20px 5px;
        min-width: 300px;
    }

    table tr td {
        padding: 10px;
    }

    @include media-tablet {
        padding: 87px 0;

        &__title {
            margin-bottom: 44px;
        }

        &__imgs {
            margin-bottom: 40px;
        }
    }
}
