.header {
    width: 100%;

    &__inner {
        display: flex;
        padding: 22px 15px 27px;
        flex-direction: column;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin-bottom: 20px;
    }

    &__logo {
        &-img {
            @include bg;
            width: 204px;
            height: 41px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-top: 2px;
        position: relative;
        cursor: pointer;

        &-picture {
            margin-top: 2px;
        }

        &-img {
            @include bg;
            width: 38px;
            height: 20px;
        }

        &-descr {
            display: none;
            font-family: "Prompt", sans-serif;
            font-weight: normal;
            font-size: 15px;
            line-height: 23px;
            color: var(--color-green1);
        }
    }

    &__call {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        &-link {
            font-family: "Prompt", sans-serif;
            font-weight: normal;
            font-size: 15px;
            line-height: 23px;
            text-decoration-line: underline;
            color: var(--color-green1);

            &:hover {
                text-decoration: none;
            }
        }

        &-number {
            display: flex;
        }

        &-img {
            width: 10em;
        }

        &-descr {
            font-weight: 900;
            font-size: 17px;
            line-height: 20px;
            color: var(--color-grey1);
            margin-left: 10px;
            white-space: nowrap;
        }
    }

    @include media-tablet {
        &__inner {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__menu {
            max-width: 458px;
            margin-bottom: 0;
            margin-right: 50px;
        }

        &__nav-descr {
            display: block;
            margin-left: 20px;
        }

        &__call {
            max-width: 316px;
        }
    }
}
