extends common/layout

block vars
  -const pageTitle="Discount page"

block content
    .wrapper
        include includes/templates/header
        .main
            include includes/discount-page/discount-section
        include includes/templates/footer
