include ../mixins/section-title

section.company
    .company__inner
        +section_title("О компании", true)
        p.company__descr
            | Компания “Покос травы” специализируется на расчистке участка от поросли в городе * и на садовых участках, за 4 года работы мы выкосили больше 4га земли. Мы всегда готовы подстроиться под нужды клиента, если у вас нет машины можем вас забрать и вместе приехать на участок. Постоянные клиенты доверяют нам работать на их участке самостоятельно без их личного присутсвия, экономя свое время. Работаем как с частными лицами, так и с юр лицами, управляющими компаниями.
