include ../mixins/section-title

section.samples
    .samples__inner
        +section_title("Примеры наших работ", true)
        .samples__gallery
            a(href='./assets/img/content/pokos1.webp' )
                img(src="./assets/img/content/pokos1.webp" alt="")
            a(href='./assets/img/content/pokos3.webp' )
                img(src="./assets/img/content/pokos3.webp" alt="")
            a(href='./assets/img/content/pokos3.webp' )
                img(src="./assets/img/content/pokos3.webp" alt="")
            a(href='./assets/img/content/pokos4.webp' )
                img(src="./assets/img/content/pokos4.webp" alt="")
            a(href='./assets/img/content/pokos2.webp' )
                img(src="./assets/img/content/pokos2.webp" alt="")
            a(href='./assets/img/content/pokos1.webp' )
                img(src="./assets/img/content/pokos1.webp" alt="")
            a(href='./assets/img/content/pokos3.webp' )
                img(src="./assets/img/content/pokos3.webp" alt="")
            a(href='./assets/img/content/pokos2.webp' )
                img(src="./assets/img/content/pokos2.webp" alt="")
            a(href='./assets/img/content/pokos1.webp' )
                img(src="./assets/img/content/pokos1.webp" alt="")
            a(href='./assets/img/content/pokos2.webp' )
                img(src="./assets/img/content/pokos2.webp" alt="")
            a(href='./assets/img/content/pokos4.webp' )
                img(src="./assets/img/content/pokos4.webp" alt="")
            a(href='./assets/img/content/pokos2.webp' )
                img(src="./assets/img/content/pokos2.webp" alt="")
            a(href='./assets/img/content/pokos3.webp' )
                img(src="./assets/img/content/pokos3.webp" alt="")
            a(href='./assets/img/content/pokos2.webp' )
                img(src="./assets/img/content/pokos2.webp" alt="")
            a(href='./assets/img/content/pokos1.webp' )
                img(src="./assets/img/content/pokos1.webp" alt="")
            a(href='./assets/img/content/pokos4.webp' )
                img(src="./assets/img/content/pokos4.webp" alt="")

        a.samples__link(href="/sample.html") Посмотреть все работы
