include ../mixins/section-title

section.values
    .values__inner
        +section_title("Ценности компании: Упор на качество работы  и удобство", true)
        .values__descr
            .values__descr-content
                p.values__descr-text
                    | Наша компания появилась после выявления на рынке потребности по услуге покос травы в *. Основная цель решить задачу заказчика по благоустройству его территории, сделав работу орперативно и качественно без лишних разговоров и по заранеее обговоренной цене. Основные наши клиенты это владельцы загородных участков от 6 соток. Имея в собственности территорию,  каждый летний сезон вы нуждаетесь в покосе травы для того что бы находится на своем участке, получая эстетическое удовольствие от чистоты и опрятности. Возможно у вас нет подходяего оборудования или просто нет желания под полящим солнцем работать весь день. В этом случае мы всегда рады помочь.
            .values__descr-img-wrap
                img.values__descr-img(src="./assets/img/content/value.jpg" alt="")
